bin/stoilo_notifies
bin/stoilo_notifies.env
bin/stoilo_notifies.json
.vscode/**
.ecode/**
.git/**
go.work
test/**
build/test.sh
build/deploy.sh
config/stoilo_notifies.env
config/stoilo_notifies.json
internal/TG.txt
internal/TTV.txt
